.main-container {
  width: 100%;
  padding: 20px 5% 0 5%;
  border: 1px 0 solid;
  background: #f3f3f3;
}

/* banner */

.main-container__banner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #fff;
  border: 1px solid #e4e4e4;
  width: 100%;
  height: 660px;
}

/* banner-best-item */

.banner__best-item {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px 40px;
  cursor: pointer;
  height: 340px;
}

.banner__best-item a, .event-item {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.info__event-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  background: #4d484f;
  border-radius: 20px;
  padding: 8px 15px;
}

.info__event-item-title {
  padding: 30px 0 20px 0;
  font-size: 2.5rem;
}

.info__separate-line {
  width: 40px;
  height: 2px;
  background: #656565;
}

.info__event-item-detail {
  font-size: 1rem;
  font-weight: bold;
  color: #959595;
  padding-top: 20px;
}

.best-item__image img, .event-item__image img {
  display: block;
  margin: auto;
  width: 100%;
}

/* banner- slide */

.banner__slide {
  grid-column-start: 3;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 340px;
  border-left: 1px solid #f1f1f1;
}

.slide__button {
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.slide__button * {
  background: #fff;
}

.slide__event-items {
  grid-column-start: 2;
  grid-column-end: 6;
}

.paging-buttons {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: center;
}

.paging-button {
  width: 15px;
  height: 5px;
  margin: 0 1px;
  background: #cccccc;
}

.button-1 {
  background: #000000;
}

.paging-button:hover {
  background: #000000;
}

.pagin-button:hover~.paging-button {
  background: #cccccc;
}

.event-item--second, .event-item--third {
  display: none;
}

/* banner__recommended-itmes */
.banner__recommended-items {
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 318px;
  border-top: 1px solid #f1f1f1;
}

.recommended-item {
  padding: 20px;
  border-right: 1px solid #f1f1f1;
}

.recommended-item img {
  width: 100%;
  height: 200px;
}

.recommended-item__title {
  margin-top: 10px;
  margin-bottom: 1px;
  font-size: 0.875rem;
  font-style: 돋움;
  font-weight: bold;
}

.recommended-item__detail {
  margin-bottom: 11px;
  font-size: 0.75rem;
  font-style: 돋움;
  color: #888888;
}

.recommended-item__tag {
  border: 1px solid orange;
}

.recommended-item__tag a {
  padding: 1px 5px;
  color: orange;
}

/* hotdeal container */

.main-container__hotdeal-container {
  width: 100%;
  height: 730px;
  margin-top: 50px;
}

.hotdeal-container__title {
  height: 24px;
  margin-bottom: 11px;
  font-size: 22px;
}

.hotdeal-container__hotdeal-items {
  width: 100%;
  height: 695px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #e4e4e4;
}

.hotdeal-item {
  height: 347px;
  padding: 25px 27px 20px 27px;
  border-right: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
}

.hotdeal-item img {
  width: 100%;
  height: 200px;
}

.hotdeal-item__title {
  margin-top: 11px;
  font-size: 13px;
}

.hotdeal-item__price-info {
  margin-top: 20px;
}

.price-info__discount-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-info__discounted-price {
  font-size: 14px;
  font-weight: bold;
}

.discount-info__discount-percent {
  font-size: 24px;
  color: red;
}

.hotdeal-item__regular-price {
  font-size: 13px;
  color: #888888;
  text-decoration: line-through;
}

/* trend-container */
.main-container__trend-container {
  width: 100%;
  height: 704px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.trend-container__title {
  height: 24px;
  margin-bottom: 11px;
  font-size: 22px;
}

.trend-container__trend-keywords {
  width: 100%;
  height: 667px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #e4e4e4;
}

.trend-keyword {
  height: 334px;
  padding: 20px 21px;
  border-right: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
}

.trend-keyword__keyword-title {
  padding-bottom: 15px;
}

.trend-keyword__keyword-title a {
  font-size: 14px;
  font-weight: bold;
}

.trend-keyword__keyword-item img {
  width: 100%;
  height: 200px;
}

.keyword-item__title {
  width: 100%;
  height: 30px;
  margin: 5px 0 12px 0;
}

.keyword-item__price {
  font-size: 12px;
  font-weight: bold;
}

/* additional info container */
.main-container__additional-info-container {
  width: 100%;
  height: 280px;
}

.additional-info-container__partner-container {}

.partner-container__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0 15px 0;
}

.partner-container__title .title {
  font-size: 21px;
  font-weight: bold;
}

.partner-container__title a img {
  width: 8px;
}

.partner-container__partner-lists {
  display: flex;
  justify-content: space-between;
  height: 164px;
  border: 1px solid #e4e4e4;
  background: #fff;
  padding: 30px 0 0 32px;
}

.partner-list {
  width: 11%;
}

.partner-list__category-name {
  margin-bottom: 11px;
  font-weight: bold;
}

.partner-showmore {
  display: flex;
  align-items: flex-end;
}

.partner-showmore a {
  height: 29px;
}

.plus-icon {
  width: 29px;
  height: 29px;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}

.plus-icon:hover {
  filter: invert(78%) sepia(30%) saturate(2950%) hue-rotate(308deg) brightness(111%) contrast(101%);
  border: 1px solid #e4e4e4;
  cursor: pointer;
}

.additional-info-container__notice-container {
  display: flex;
  align-items: center;
  height: 55px;
  margin-top: 15px;
  padding-bottom: 25px;
}

.notice-container__notice {
  margin-right: 15px;
  font-weight: bold;
}

.notice-container__mark {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 7px;
}

.n-icon {
  width: 16px;
  height: 16px;
  filter: invert(69%) sepia(8%) saturate(6145%) hue-rotate(313deg) brightness(107%) contrast(97%);
}